{% extends 'base.html'%} {% block content %}
<div class="">
  <div>
    <!-- display profile photo -->

    {% if user.profile_pic_path %}
    <img
      src="{{url_for('static',filename=user.profile_pic_path)}}"
      alt=""
      class="img-thumbnail"
    />
    {%else%}
    <p>No Profile Picture</p>
    {%endif%} {% if user == current_user %}
    <form
      action="{{url_for('main.update_pic',uname=user.username)}}"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="photo" class="form-control" required />
      <input type="submit" />
    </form>
    {% endif %}
  </div>
  <div>
    <!-- display username -->
    <div class="">
      <h3>{{user.username}}</h3>
    </div>
    <div>
      <!-- display bio -->
      {%if user.bio%}
      <p>{{user.bio}}</p>
      {%else%}
      <p>{{user.username}} has no bio</p>
      {%endif%}
    </div>
    <div>
      <!-- update profile -->

      <a href="{{url_for('main.update_profile',uname=user.username)}}"
        >Edit profile</a
      >
    </div>
  </div>
</div>
{%endblock%}
