{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content
%}
<section id="login">
  <div class="login">
    <h2 class="title">Log In</h2>

    <form class="form" method="post">
      {{form.csrf_token}} {{form.username( class="input" ,placeholder="username"
      )}} {% for error in form.username.errors %}
      <li class="error">{{error}}</li>
      {% endfor %} {{form.password( placeholder="password" ,class="input" )}} {%
      for error in form.password.errors %}
      <li class="error">{{error}}</li>
      {% endfor %} {{form.submit(placeholder="submit", class="btn" )}} {% for
      error in form.submit.errors %}}
      <li class="error">{{error}}</li>
      {% endfor %}
    </form>
  </div>
</section>
{% endblock %}
