{% extends 'base.html' %} {% import 'macros.html' as macro %} {%block content%}
<section id="signup">
  <div class="signup">
    <h2 class="title">Sign Up</h2>

    <form class="form" method="post">
      {{form.csrf_token}} {{form.username( class="input" ,placeholder="username"
      )}} {% for error in form.username.errors %}
      <li class="error">{{error}}</li>
      {% endfor %} {{form.email(placeholder="email" ,class="input" )}} {% for
      error in form.email.errors %}
      <li class="error">{{error}}</li>
      {% endfor %} {{form.password( placeholder="password" ,class="input" )}} {%
      for error in form.password.errors %}
      <li class="error">{{error}}</li>
      {% endfor %} {{form.password_confirm( placeholder="password confiration"
      ,class="input" )}} {% for error in form.password_confirm.errors %}
      <li class="error">{{error}}</li>
      {% endfor %} {{form.submit(placeholder="submit", class="btn" )}} {% for
      error in form.submit.errors %}}
      <li class="error">{{error}}</li>

      {% endfor %}
    </form>
    <a id="cta" href="{{url_for('auth.login')}}">Login</a>
  </div>
</section>
{% endblock %}
