@import '../base/colors';
@import '../base/fonts';
@import '../base/mixins';

#hero {
  height: 100vh;
  @include image;
  padding: 2rem;
  background-image: url('/assets/images/hero.png');

  .content {
    height: 100%;
    @include col-start;
    padding-bottom: 2rem;
    justify-content: flex-end;

    .title {
      @include title;
      color: $light-100;
    }
    .text {
      margin: 1rem 0;
      color: $glow-100;
      @include subtitle;
    }

    .btn {
      @include btn;
      @include text;
    }
  }
}
