// Accent colors
$glow-100: #ffd131;
$glow-200: #f5b82e;
$glow-300: #f4ac32;

// Light colors
$light-100: #e8e5f1;
$light-200: #d0cae2;
$light-300: #bab0d4;
$light-400: #a195c6;
$light-500: #897ab8;

// Dark colors
$dark-100: #7261a8;
$dark-200: #5f5091;
$dark-300: #4a4076;
$dark-400: #35305a;
$dark-500: #1f2041;

// Gradients colors
$glow: linear-gradient(91.47deg, #ffd131 8.81%, #f4ac32 94.74%);
$fade: linear-gradient(180deg, #1f2041 0%, rgba(53, 48, 90, 0) 100%);
