@mixin row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin col-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@mixin col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin grid-column {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

@mixin title {
  line-height: 1;
  font-weight: 400;
  font-size: 3.2rem;
  font-family: $font;
}

@mixin subtitle {
  font-weight: 200;
  font-size: 1.7rem;
  font-family: $font;
}

@mixin subtext {
  font-weight: 400;
  font-size: 1.3rem;
  font-family: $font;
  letter-spacing: 0.05rem;
}

@mixin text {
  font-size: 1rem;
  font-weight: 400;
  font-family: $font;
  letter-spacing: 0.05rem;
}

@mixin brandtext {
  color: $glow-100;
  font-size: 1rem;
  font-weight: 700;
  font-family: $font;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
@mixin link {
  text-decoration: none;
}

@mixin btn {
  border: none;
  outline: none;
  color: $dark-400;
  background: $glow;
  border-radius: 0.2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

@mixin navicon {
  width: 2.4rem;
  height: 2.4rem;
}

@mixin image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
