@mixin row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin col-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@mixin col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin row-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin grid-column {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@mixin title {
  line-height: 1;
  font-weight: 400;
  font-size: 3.2rem;
  font-family: $font;
}

@mixin subtitle {
  font-weight: 200;
  font-size: 1.7rem;
  font-family: $font;
}

@mixin subtext {
  font-weight: 400;
  font-size: 1.3rem;
  font-family: $font;
  letter-spacing: 0.05rem;
}

@mixin text {
  font-size: 1rem;
  font-weight: 400;
  font-family: $font;
  letter-spacing: 0.05rem;
}

@mixin brandtext {
  font-size: 0.8rem;
  color: $glow-100;
  margin: 0.2rem 0;
  font-weight: 600;
  font-family: $font;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
@mixin link {
  text-decoration: none;
}
@mixin input {
  width: 80%;
  outline: none;
  font-size: 1rem;
  padding: 0.7rem;
  margin: 0.5rem 0;
  color: $light-100;
  border-radius: 0.4rem;
  background: transparent;
  border: 2px solid $glow-100;

  &::placeholder {
    color: $glow-100;
    background: transparent;
  }
  &:focus {
    color: $glow-100;
    background: transparent;
  }
  &:active {
    color: $glow-100;
    background: transparent;
  }
  &:focus-visible {
    color: $glow-100;
    background: transparent;
  }
}

@mixin btn {
  border: none;
  outline: none;
  cursor: pointer;
  color: $dark-400;
  background: $glow;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
}
@mixin btn-round {
  outline: none;
  cursor: pointer;
  font-weight: 300;
  color: $light-100;
  font-size: 0.8rem;
  border-radius: 5rem;
  padding: 0.7rem 1.3rem;
  letter-spacing: 0.2rem;
  background: transparent;
  text-transform: uppercase;
  border: 2px solid $glow-300;
}

@mixin navicon {
  width: 2.7rem;
  height: 2.7rem;
}

@mixin cardicon {
  width: 4rem;
  height: 4rem;
}

@mixin image {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
