{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content %}
{% include 'navbar.html' %}

<div class="radio">
    <h1>Internet Radio</h1>
    <p class="card">curated just for you</p>
    <button>view all</button>
</div>

<div class="classic">
    
</div>

<div class="playlist">
    <h1>Trending Playlist</h1>
    <p class="card">from around the world</p>
    <button>view all</button>
</div>

<div class="classic">

</div>

<div class="artist">
    <h1>New artist</h1>
    <p class="card">from around the world</p>
    <button>view all</button>
</div>

<div class="classic">

</div>
{% endblock %}

