{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content
%} {% include 'navbar.html' %}

<!-- Hero Section -->
<section id="hero">
  <div class="content">
    <h2 class="title">For True Music Lovers</h2>
    <p class="text">
      Identify and Stream the Latest Music,<br />
      On the Go
    </p>
    <button class="btn">GET STARTED</button>
  </div>
</section>

<div id="categories">
  <section class="playlist">
    <div class="header">
      <div class="content">
        <h1 class="title">Trending today</h1>
        <p class="text">curated just for you</p>
      </div>
      <a class="round" href="#">view all</a>
    </div>
    <div class="charts">{{macro.displayCharts(world)}}</div>
  </section>
  <section class="playlist">
    <div class="header">
      <div class="content">
        <h1 class="title">Todays Playlist</h1>
        <p class="text">from around the world</p>
      </div>
      <a class="round" href="#">view all</a>
    </div>
    <div class="lyrics">{{macro.displaySourceList(charts)}}</div>
  </section>
</div>

<!-- <div id="categories">
  <section class="radio">
    <div class="header">
      <div class="content">
        <h1 class="title">Internet Radio</h1>
        <p class="text">curated just for you</p>
      </div>
      <a class="round" href="#">view all</a>
    </div>
    <div class="cards">{{macro.displaySources(main_stations)}}</div>
  </section>
</div> -->
<div id="categories">
  <section class="playlist">
    <div class="header">
      <div class="content">
        <h1 class="title">Pop hitlist</h1>
        <p class="text">From the world of pop</p>
      </div>
      <a class="round" href="#">view all</a>
    </div>
    <div class="charts">{{macro.displayCharts(pop)}}</div>
  </section>
  <section class="artist">
    <div class="header">
      <div class="content">
        <h1 class="title">New artists</h1>
        <p class="text">from around the world</p>
      </div>
      <a class="round" href="#">view all</a>
    </div>
    <div class="lyrics">{{macro.displaySourceList(playlist)}}</div>
  </section>
</div>

{% endblock %}
