{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content
%} {% include 'navbar.html' %}

<!-- Hero Section -->
<section id="hero">
  <div class="content">
    <h2 class="title">For True Music Lovers</h2>
    <p class="text">
      Identify and Stream the Latest Music<br />
      On the Go
    </p>
    <button class="btn">GET STARTED</button>
  </div>
</section>

<div class="lyric">
  <!-- User Profile -->
  <div class="user">
    <h3>Jessica Akoth</h3>
    <h6>jessicakoth</h6>
  </div>

  <div class="lists">
    <div class="nav">
      <a href="">lyrics</a>
    </div>
    <div class="nav">
      <a href="">radio</a>
    </div>
    <div class="nav">
      <a href="">artist</a>
    </div>
    <div class="nav">
      <a href="">Songs</a>
    </div>
    <div class="nav">
      <a href="">Charts</a>
    </div>
  </div>
</div>

{% endblock %}
