<nav id="navbar">
  <div class="left">
    <a class="link" href="#">
      <img
        class="icon"
        src="{{url_for('static', filename='icons/playlist.svg')}}"
        alt="playlist"
      />
    </a>
    <a class="link" href="#">
      <img
        class="icon"
        src="{{url_for('static', filename='icons/radio.svg')}}"
        alt="radio"
      />
    </a>
    <a class="link" href="#">
      <img
        class="icon"
        src="{{url_for('static', filename='icons/trend.svg')}}"
        alt="trend"
      />
    </a>
  </div>
  <div class="center">
    <a class="navbrand" href="#">
      <img
        class="logo"
        src="{{url_for('static', filename='icons/logo.svg')}}"
        alt="logo"
      />
      <p class="text">Truebarz</p>
    </a>
  </div>

  <div class="right">
    <a class="link" href="#">
      <img
        class="icon"
        src="{{url_for('static', filename='icons/audio.svg')}}"
        alt="audio"
      />
    </a>
    <a class="link" href="#">
      <img
        class="icon"
        src="{{url_for('static', filename='icons/search.svg')}}"
        alt="search"
      />
    </a>
    <a class="link" href="#">
      <img
        class="icon"
        src="{{url_for('static', filename='icons/user.svg')}}"
        alt="user"
      />
    </a>
  </div>
</nav>
