<nav id="navbar">
  <div class="left">
    <a class="link" href="/collections">
      <img
        class="icon"
        src="{{url_for('static', filename='icons/playlist.svg')}}"
        alt="playlist"
      />
    </a>
    <a class="link" href="/trending">
      <img
        class="icon"
        src="{{url_for('static', filename='icons/trend.svg')}}"
        alt="trend"
      />
    </a>
  </div>
  <div class="center">
    <a class="navbrand" href="/">
      <img
        class="logo"
        src="{{url_for('static', filename='icons/logo.svg')}}"
        alt="logo"
      />
      <p class="text">Truebarz</p>
    </a>
  </div>

  <div class="right">
    <a class="link" href="{{url_for('main.find')}}">
      <img
        class="icon"
        src="{{url_for('static', filename='icons/search.svg')}}"
        alt="search"
      />
    </a>
    {% if current_user.is_authenticated %}
    <a
      class="link"
      href="{{url_for('main.profile',uname=current_user.username)}}"
    >
      <img
        class="icon"
        src="{{url_for('static', filename='icons/user.svg')}}"
        alt="user"
      />

      <p class="text">{{current_user.username}}</p>
    </a>
    {% else %}
    <a class="link" href="{{url_for('auth.login')}}">
      <img
        class="icon"
        src="{{url_for('static', filename='icons/user.svg')}}"
        alt="user"
      />

      <p class="text">login</p>
    </a>
    {% endif %}
  </div>
</nav>
